function PongGame.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 50
pop this 6
push constant 230
push constant 229
push this 6
push constant 7
call Bat.new 4
pop this 0
push constant 253
push constant 222
push constant 0
push constant 511
push constant 0
push constant 229
call Ball.new 6
pop this 1
push this 1
push constant 400
push constant 0
call Ball.setDestination 3
pop temp 0
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 10
call String.new 1
push constant 34
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 34
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 2
push constant 0
pop this 5
push pointer 0
return
function PongGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Bat.dispose 1
pop temp 0
push this 1
call Ball.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function PongGame.newInstance 0
call PongGame.new 0
pop static 0
push constant 0
return
function PongGame.getInstance 0
push static 0
return
function PongGame.run 1
push argument 0
pop pointer 0
label WHILEBLOCK0
push this 3
not
not
if-goto ENDWHILE0
label WHILEBLOCK1
push local 0
push constant 0
eq
push this 3
not
and
not
if-goto ENDWHILE1
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto WHILEBLOCK1
label ENDWHILE1
push local 0
push constant 130
eq
if-goto LTRUE0
goto LFALSE0
label LTRUE0
push this 0
push constant 1
call Bat.setDirection 2
pop temp 0
goto LEND0
label LFALSE0
push local 0
push constant 132
eq
if-goto LTRUE1
goto LFALSE1
label LTRUE1
push this 0
push constant 2
call Bat.setDirection 2
pop temp 0
goto LEND1
label LFALSE1
push local 0
push constant 140
eq
if-goto LTRUE2
goto LFALSE2
label LTRUE2
push constant 0
not
pop this 3
label LFALSE2
label LEND1
label LEND0
label WHILEBLOCK2
push local 0
push constant 0
eq
not
push this 3
not
and
not
if-goto ENDWHILE2
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto WHILEBLOCK2
label ENDWHILE2
goto WHILEBLOCK0
label ENDWHILE0
push this 3
if-goto LTRUE3
goto LFALSE3
label LTRUE3
push constant 10
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 11
call String.new 1
push constant 34
call String.appendChar 2
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 34
call String.appendChar 2
call Output.printString 1
pop temp 0
label LFALSE3
push constant 0
return
function PongGame.moveBall 5
push argument 0
pop pointer 0
push this 1
call Ball.move 1
pop this 2
push this 2
push constant 0
gt
push this 2
push this 5
eq
not
and
if-goto LTRUE4
goto LFALSE4
label LTRUE4
push this 2
pop this 5
push constant 0
pop local 0
push this 0
call Bat.getLeft 1
pop local 1
push this 0
call Bat.getRight 1
pop local 2
push this 1
call Ball.getLeft 1
pop local 3
push this 1
call Ball.getRight 1
pop local 4
push this 2
push constant 4
eq
if-goto LTRUE5
goto LFALSE5
label LTRUE5
push local 1
push local 4
gt
push local 2
push local 3
lt
or
pop this 3
push this 3
not
if-goto LTRUE6
goto LFALSE6
label LTRUE6
push local 4
push local 1
push constant 10
add
lt
if-goto LTRUE7
goto LFALSE7
label LTRUE7
push constant 1
neg
pop local 0
goto LEND7
label LFALSE7
push local 3
push local 2
push constant 10
sub
gt
if-goto LTRUE8
goto LFALSE8
label LTRUE8
push constant 1
pop local 0
label LFALSE8
label LEND7
push this 6
push constant 2
sub
pop this 6
push this 0
push this 6
call Bat.setWidth 2
pop temp 0
push this 4
push constant 1
add
pop this 4
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
label LFALSE6
label LFALSE5
push this 1
push local 0
call Ball.bounce 2
pop temp 0
label LFALSE4
push constant 0
return
